# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/

# ===========================
# Virtual Environments
# ===========================
venv/
env/
.venv/

# ===========================
# Environment variables
# ===========================

# ===========================
# Playwright
# ===========================
playwright-report/
test-results/
screenshots/
videos/

# ===========================
# Pytest
# ===========================
.pytest_cache/
coverage/
htmlcov/

# ===========================
# Allure
# ===========================
allure-results/
allure-report/

# ===========================
# OS files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# IDEs / Editors
# ===========================
.vscode/
.idea/
*.iml

# ===========================
# Logs
# ===========================
*.log
logs/
